*.pyc
*.pyo
fresh/Makefile
fresh/build
build
doc/html
.*.swp
dist/
a.out
tmp
MANIFEST
.idea
sphinx-enki-info.txt

# CodeChat files
_build
*.py.rst
*.iss.rst
*.bat.rst

# Installer
win/Install_Enki.exe

# PyInstaller files
enki.spec
*.spec
