<div class="menu-container">

    <div id="logo">
        <a href="{{ page.baseurl }}/index.html"><img src="{{ page.baseurl }}/img/logo.png"></a>
    </div>

    <div class="menuitem">
    About
    <ul>
        <li>
            <a href="{{ page.baseurl }}/features.html">Features</a>
        </li>
        <li>
            <a href="{{ page.baseurl }}/team.html">Team</a>
        </li>
        <li>
            <a href="{{ page.baseurl }}/why-new.html">Why?</a>
        </li>
    </ul>
    </div>

    <div class="menuitem">
    Support
        <ul>
            <li>
                <a href="https://github.com/hlamer/enki/wiki/User-manual">User manual</a>
            </li>
            <li>
                <a href="http://groups.google.com/group/enki">Support group</a>
            </li>
            <li>
                <a href="{{ page.baseurl }}/irc.html">IRC room</a>
            </li>
        </ul>
    </div>

    <div class="menuitem">
    Bugs
        <ul>
            <li>
                <a href="https://github.com/hlamer/enki">Fork and fix</a>
            </li>
            <li>
                <a href="https://github.com/hlamer/enki/issues">Fill issue</a>
            </li>
            <li>
                <a href="mailto:enki-bugs@googlegroups.com">Email issue</a>
            </li>
        </ul>
    </div>

    <div class="menuitem">
    Hacking
        <ul>
            <li>
                <a href="https://github.com/hlamer/enki">GitHub</a>
            </li>
            <li>
                <a href="https://github.com/hlamer/enki/wiki/Plugins-tutorial">Plugin Tutorial</a>
            </li>
            <li>
                <a href="http://enki.rtfd.org">Plugin API</a>
            </li>
        </ul>
    </div>

    <div id="donate-button">
    <a href="https://sourceforge.net/donate/index.php?group_id=163493" target="_blank"> <img src="https://images-ssl.sourceforge.net/images/project-support.jpg"/></a>
    </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

