About
<ul>
    <li>
        <a href="features.html">Features</a>
    </li>
    <li>
        <a href="team.html">Team</a>
    </li>
</ul>

Download
<ul>
    <li>
        <a href="install-sources.html">Sources</a>
    </li>
    <li>
        <a href="install-ubuntu.html">Ubuntu package</a>
    </li>
    <li>
        <a href="install-debian.html">Debian package</a>
    </li>
</ul>

Support
<ul>
    <li>
        <a href="https://github.com/hlamer/mksv3/wiki/User-manual">User manual</a>
    </li>
    <li>
        <a href="http://groups.google.com/group/mksv3">Support group</a>
    </li>
    <li>
        <a href="irc.html">IRC room</a>
    </li>
</ul>

Bugs
<ul>
    <li>
        <a href="https://github.com/hlamer/mksv3">Fork</a> and fix
    </li>
    <li>
        <a href="https://github.com/hlamer/mksv3/issues">Fill</a> issue
    </li>
    <li>
        <a href="mailto:mksv3-bugs@googlegroups.com">Email</a> issue
    </li>
</ul>

Hacking
<ul>
    <li>
        <a href="https://github.com/hlamer/mksv3">GitHub</a>
    </li>
    <li>
        <a href="https://github.com/hlamer/mksv3/wiki/Plugins-tutorial">Plugin Tutorial</a>
    </li>
    <li>
        <a href="http://mksv3.rtfd.org">Plugin API</a>
    </li>
</ul>

<a href="https://sourceforge.net/donate/index.php?group_id=163493" target="_blank"> <img src="https://images-ssl.sourceforge.net/images/project-support.jpg"/></a>
<br/>

<a href="https://twitter.com/AndreiKopats" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @AndreiKopats</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

