.pDockToolBar {
	border-width: 0px;
}

.pTabBar::tab {
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #E1E1E1, stop: 0.4 #DDDDDD, stop: 0.5 #D8D8D8, stop: 1.0 #D3D3D3);
	border: 1px solid #C4C4C3;
	border-bottom-color: #C2C7CB;
	min-width: 10ex;
	padding: 0px;
}

.pTabBar::tab:top {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.pTabBar::tab:bottom {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pTabBar::tab:left, .pTabBar::tab:right {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pTabBar::tab:selected {
	border-color: #9B9B9B;
	border-bottom-color: #C2C7CB;
	background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #fafafa, stop: 0.4 #f4f4f4, stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}
