Source: enki
Section: editors
Priority: optional
Maintainer: Andrei Kopats <hlamer@tut.by>
Build-Depends: debhelper (>= 7.4.1), python2.7, python-minimal
X-Python-Version: >= 2.7
Standards-Version: 3.9.4
Homepage: http://enki-editor.org
Vcs-Git: https://github.com/hlamer/enki
Vcs-Browser: https://github.com/hlamer/enki

Package: enki
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, libqt5svg5, python3-pyqt5, python3-pyqt5.qtwebkit, python-qutepart (>= 2.2)
Suggests: mit-scheme, python-markdown, python-docutils, python-regex, ctags
Description: A text editor for programmers
 Some of the features:
  * Syntax highlighting for 196 languages
  * Bookmarks
  * Search and replace functionality for files and directories. Regexps are supported.
  * File browser
  * Autocompletion, based on document contents
  * Hightly configurable
  * MIT Scheme REPL integration
  * Standard ML REPL integration
  * Class tree and navigation in file
Homepage: http://enki-editor.org
