Source: mksv3
Section: editors
Priority: optional
Maintainer: Andrei Kopats <hlamer@tut.by>
Build-Depends: debhelper (>= 7.4.1), python-support, python (>= 2.6)
Standards-Version: 3.9.2
Homepage: http://hlamer.github.com/mksv3/
Vcs-Git: http://hlamer.github.com/mksv3/
Vcs-Browser: https://github.com/hlamer/mksv3

Package: mksv3
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-qt4, python-qscintilla2, python-configobj
Suggests: python-pygments, mit-scheme
Description: Simple programmers text editor
 Some of features:
  * Syntax highlighting for more than 30 languages
  * Bookmarks
  * Search and replace functionality for files and directories. Regexps are supported.
  * File browser
  * Autocompletion, based on document contents
  * Hightly configurable
  * MIT Scheme REPL integration
