<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ page.baseurl }}/css/styles.css" />
    <!--[if IE 7]>
  <link rel="stylesheet" type="text/css" href="{{ page.baseurl }}/css/ie7.css">
  <![endif]-->

    <title>{{ page.title }}</title>
    
    <!-- Google analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32152726-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 
                    'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </head>
  <body>
  <div class="page">
    <div id="container">
      <div class="wrapper">
        <div class="main">
          <div id="menu">
            {% include menu.html %}
          </div>
          
          <div id="content" class="last">
            
          {% include header.html %}
            
            <div class="irc">
            {{ content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
